<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>424195651697-gt1falii90takk1p84c9u3g6mrg4gis8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.424195651697-gt1falii90takk1p84c9u3g6mrg4gis8</string>
	<key>API_KEY</key>
	<string>AIzaSyCJvshOKlcYCgMSP9-kL7QQnPUF_E0ciic</string>
	<key>GCM_SENDER_ID</key>
	<string>424195651697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.yuukirinnma.tinder-app</string>
	<key>PROJECT_ID</key>
	<string>tinder-app-1d507</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-app-1d507.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:424195651697:ios:e542e708f5746a7d2843d0</string>
</dict>
</plist>